.bar1{
    height:120px;
    width:285px;
    border-color: #451722;
    border: 5;
    background-color: #ded5c0;
    font-size:67px;
    font-family: sans-serif;
    font-weight: bold;
    color: #451722;
}
.bar10{
    height:120px;
    width:370px;
    border-color: #451722;
    border: 5;
    background-color: #ded5c0;
    font-size:67px;
    font-family: sans-serif;
    font-weight: bold;
    color: #451722;
}

.bar2{
    height:80px;
    width:472px;
    border-color: #451722;
    border: 5;
    background-color: #ded5c0;
    font-size:60px;
    font-family: sans-serif;
    font-weight: bold;
    color: #451722;
}

