    .accordion-002 {
      max-width: 980px;
      margin-bottom: 7px;
      border: 2px solid #ded5c0;
      border-radius: 5px;
  }
  
  .accordion-002 summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 2px;
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20style%3D%22fill%3A%23451722%3B%22%2F%3E%0A%3C%2Fsvg%3E');
      background-position: right calc(2em - 7px - 10px) center;
      background-size: 22px;
      background-repeat: no-repeat;
      color: #ded5c0;
      font-weight: bold;
      cursor: pointer;
  }
  
  .accordion-002 summary::-webkit-details-marker {
      display: none;
  }
  
  .accordion-002 summary::after {
      transform: translateY(-25%) rotate(45deg);
      width: 50px;
      height: 50px;
      border-bottom: 10px solid #ded5c0;
      border-right: 10px solid #ded5c0;
      content: '';
      transition: transform .3s;
  }
  
  .accordion-002[open] summary::after {
      transform: rotate(225deg);
  }
  
  .accordion-002 p {
      transform: translateY(-10px);
      opacity: 0;
      margin: 0;
      padding: 2px;
      color: #ded5c0;
      transition: transform .5s, opacity .5s;
  }
  
  .accordion-002[open] p {
      transform: none;
      opacity: 1;
  }
  </style>
  <style>
    a{
      text-decoration: none;
      color: #ded5c0;
      font-family: sans-serif;
      font-size:60px;
  }