.hanshin-senpatsu1{
    position:absolute;
    top: 520px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jihatsu1{
    position:absolute;
    top: 740px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jijihatsu1{
    position:absolute;
    top: 870px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jijijihatsu1{
    position:absolute;
    top: 1000px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jijijijihatsu1{
    position:absolute;
    top: 1120px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}




.hanshin-senpatsu2{
    position:absolute;
    top: 225px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jihatsu2{
    position:absolute;
    top: 225px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jijihatsu2{
    position:absolute;
    top: 225px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jijijihatsu2{
    position:absolute;
    top: 225px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}

.hanshin-jijijijihatsu2{
    position:absolute;
    top: 225px;
    left: 22px;
    font-size :75px;
    font-family:Arial;
    z-index:1;
}


