.hanshin-button11{
    position:absolute;
    top: 480px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button12{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button13{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button14{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button15{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button31{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button32{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button33{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button34{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button35{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}











.hanshin-button24{
    position:absolute;
    top: 500px;
    left: 231px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button25{
    position:absolute;
    top: 600px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button26{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button27{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button28{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button44{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button45{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button46{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button47{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button48{
    position:absolute;
    top: 1305px;
    left: 291px;
    width: 240px;
    height: 120px;
    z-index:1;
}