.hanshin-button11{
    position:absolute;
    top: 505px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button12{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button13{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button14{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button15{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button31{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button32{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button33{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button34{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}

.hanshin-button35{
    position:absolute;
    top: 1305px;
    left: 491px;
    width: 480px;
    height: 120px;
    z-index:1;
}











.hanshin-button24{
    position:absolute;
    top: 505px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button25{
    position:absolute;
    top: 733.5px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button26{
    position:absolute;
    top: 859px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button27{
    position:absolute;
    top: 987px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button28{
    position:absolute;
    top: 1115.5px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button44{
    position:absolute;
    top: 1525.5px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button45{
    position:absolute;
    top: 1753.5px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button46{
    position:absolute;
    top: 1880.5px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button47{
    position:absolute;
    top: 2008.5px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}

.hanshin-button48{
    position:absolute;
    top: 2135.5px;
    left: 251px;
    width: 240px;
    height: 120px;
    z-index:1;
}