.hiduke{
    position: absolute;
    top: 7%;
    left: 85%;
    width: 15%;
    height: 2%;
    text-align: left;
    color: #fff;
    z-index: 1;
    font-size: 30;
    font-family:Arial;
      }