.lasttrain1{
    position: absolute;
    background-color:#ff0;
    color: #000;
    width:950px;
    height:90px;
    font-size:80px;
    text-align:center;
    font-family:sans-serif;
    top:628px;
    left:22px;
    z-index:1;
    padding:2px;
}
