.lasttrain1{
    position: absolute;
    background-color:#ff0;
    color: #000;
    width:950px;
    height:60px;
    font-size:60px;
    text-align:center;
    font-family:sans-serif;
    top:626px;
    left:22px;
    padding:1px;
    z-index:1;
}
