.nosesmartphone-button11{
    position:absolute;
    top: 435px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button12{
    position:absolute;
    top: 745px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button13{
    position:absolute;
    top: 950px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button14{
    position:absolute;
    top: 1158px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button24{
    position:absolute;
    top: 1485px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button25{
    position:absolute;
    top: 1795px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button26{
    position:absolute;
    top: 2000px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button27{
    position:absolute;
    top: 2208px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}