.nosesmartphone-button11{
    position:absolute;
    top: 445px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button12{
    position:absolute;
    top: 753px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button13{
    position:absolute;
    top: 960px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button14{
    position:absolute;
    top: 1168px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button24{
    position:absolute;
    top: 1590px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button25{
    position:absolute;
    top: 1895px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button26{
    position:absolute;
    top: 2107px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button27{
    position:absolute;
    top: 2313px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}