.nosesmartphone-senpatsu1{
    position:absolute;
    top: 435px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jihatsu1{
    position:absolute;
    top: 740px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijihatsu1{
    position:absolute;
    top: 940px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijijihatsu1{
    position:absolute;
    top: 1140px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-senpatsu2{
    position:absolute;
    top: 1590px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jihatsu2{
    position:absolute;
    top: 1840px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijihatsu2{
    position:absolute;
    top: 2040px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijijihatsu2{
    position:absolute;
    top: 2240px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}