.nosesmartphone-gousen3{
    position: absolute;
    top: 1600px;
    left: 20px;
    width:80px;
    height: 80px;

}
.nosesmartphone-gousen4{
    position: absolute;
    top: 1600px;
    left: 900px;
    width:80px;
    height: 80px;

}