.nosesmartphone-senpatsu1{
    position:absolute;
    top: 475px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jihatsu1{
    position:absolute;
    top: 790px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijihatsu1{
    position:absolute;
    top: 1000px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijijihatsu1{
    position:absolute;
    top: 1205px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-senpatsu2{
    position:absolute;
    top: 1620px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jihatsu2{
    position:absolute;
    top: 1920px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijihatsu2{
    position:absolute;
    top: 2140px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}

.nosesmartphone-jijijihatsu2{
    position:absolute;
    top: 2340px;
    left: 50px;
    font-size :115px;
    font-family:Arial;
    z-index:1;
}