.nosesmartphone-button11{
    position:absolute;
    top: 355px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button12{
    position:absolute;
    top: 665px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button13{
    position:absolute;
    top: 870px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button14{
    position:absolute;
    top: 1078px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button24{
    position:absolute;
    top: 1405px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button25{
    position:absolute;
    top: 1715px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button26{
    position:absolute;
    top: 1920px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}

.nosesmartphone-button27{
    position:absolute;
    top: 2128px;
    left: 370px;
    width: 600px;
    height: 200px;
    z-index:1;
}