.shintetsu-gousen4{
    position: absolute;
    top: 270px;
    left: 20px;
    width:80px;
    height:80px;

}

.shintetsu-gousen3{
    position: absolute;
    top: 360px;
    left: 20px;
    width:80px;
    height:80px;

}

.shintetsu-gousen2{
    position: absolute;
    top: 270px;
    left: 890px;
    width:80px;
    height:80px;

}

.shintetsu-gousen1{
    position: absolute;
    top: 360px;
    left: 890px;
    width:80px;
    height:80px;

}