.shintetsu-senpatsu1{
    position:absolute;
    top: 468px;
    left: 42.5px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jihatsu1{
    position:absolute;
    top: 683px;
    left: 42.5px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijihatsu1{
    position:absolute;
    top: 792.5px;
    left: 42.5px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijijihatsu1{
    position:absolute;
    top: 914px;
    left: 42.5px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijijijihatsu1{
    position:absolute;
    top: 1028px;
    left: 42.5px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijijijijihatsu1{
    position:absolute;
    top: 1135px;
    left: 42.5px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}
