.shintetsu-gousen4{
    position: absolute;
    top: 260px;
    left: 20px;
    width:60px;
    height:60px;

}

.shintetsu-gousen3{
    position: absolute;
    top: 260px;
    left: 90px;
    width:60px;
    height:60px;

}

.shintetsu-gousen2{
    position: absolute;
    top: 260px;
    left: 840px;
    width:60px;
    height:60px;

}

.shintetsu-gousen1{
    position: absolute;
    top: 260px;
    left: 910px;
    width:60px;
    height:60px;

}