.shintetsu-senpatsu1{
    position:absolute;
    top: 230px;
    left: 22px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jihatsu1{
    position:absolute;
    top: 445px;
    left: 22px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijihatsu1{
    position:absolute;
    top: 570px;
    left: 22px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijijihatsu1{
    position:absolute;
    top: 680px;
    left: 22px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijijijihatsu1{
    position:absolute;
    top: 790px;
    left: 22px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}

.shintetsu-jijijijijihatsu1{
    position:absolute;
    top: 900px;
    left: 22px;
    font-size :80px;
    font-family:Arial;
    z-index:1;
}
