.shintetsu-button11{
    position:absolute;
    top: 530.1px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button12{
    position:absolute;
    top: 764.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button13{
    position:absolute;
    top: 900.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button14{
    position:absolute;
    top: 1017.8px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button15{
    position:absolute;
    top: 1130.9px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}