.shintetsu-button11{
    position:absolute;
    top: 450.1px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button12{
    position:absolute;
    top: 674.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button13{
    position:absolute;
    top: 802.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button14{
    position:absolute;
    top: 937.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button15{
    position:absolute;
    top: 1040.89px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button16{
    position:absolute;
    top: 1133.9px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}