.shintetsu-button11{
    position:absolute;
    top: 460.1px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button12{
    position:absolute;
    top: 676.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button13{
    position:absolute;
    top: 797.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button14{
    position:absolute;
    top: 915.3px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button15{
    position:absolute;
    top: 1030.89px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}

.shintetsu-button16{
    position:absolute;
    top: 1133.9px;
    left: 266.5px;
    width: 704px;
    height: 110px;
    z-index:1;
}