.smartphone-blinking{
    animation: flash 2.0s linear infinite;
  }
  
  @keyframes flash {
    
    0%,25%,75%,100% {
      opacity: 0;
    }
  
    25%,75% {
      opacity: 1;
    }
    
  }