.smartphone-tooltip { /* 補足説明するテキストのスタイル */
    position: relative;
    cursor: pointer;
    padding: 2px;
    font-size: 80px;
    color:#ded5c0 ;
  }
  
  .smartphone-balloon_right { /* ツールチップのスタイル */
    width: 120px;
    height: 140px; /* 横幅 */
    position: absolute;
    top: 50%;
    left: 80%; /* X軸の位置 */
    transform: translateY(-50%);
    margin-left: 8px; /* テキストとの距離 */
    padding: 8px;
    border-radius: 5px; /* 角の丸み */
    background-color: #ded5c0;
    font-size: 20px;
    color: #451722;
    text-align: center;
    visibility: hidden; /* ツールチップを非表示に */
    opacity: 0; /*不透明度を0％に */
    z-index: 1;
    transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
  }
  
  .smartphone-balloon_right::before { /* 吹き出しの「しっぽ」のスタイル */
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 12px solid  rgb(220, 213, 192); /* 最後の値は「ツールチップの背景色」と合わせる */
    position: absolute;
    top: 50%;
    right: 99%;
    transform: translateY(-50%);
  }
  
  .smartphone-tooltip:hover .smartphone-balloon_right { /* マウスオーバー時のスタイル */
    left: 100%; /* X軸の位置 */
    visibility: visible; /* ツールチップを表示 */
    opacity: 1; /* 不透明度を100％に */
  }