.smartphone-button09{
    position:absolute;
    top: 130px;
    left:450px;
    font-size:60px;
    font-weight: bold;
    font-family: sans-serif;
    border-color: #fff;
    padding:2px;
    z-index:1;
}