.threesmartphone-gousen5{
  position: absolute;
  top: 1170px;
  left: 200px;
  width:80px;
  height:80px;

}

.threesmartphone-gousen6{
  position: absolute;
  top: 2310px;
  left: 900px;
  width:80px;
  height:80px;

}

.threesmartphone-gousen7{
  position: absolute;
  top:2310px;
  left: 800px;
  width:80px;
  height:80px;

}

.threesmartphone-gousen8{
  position: absolute;
  top: 2310px;
  left: 900px;
  width:80px;
  height:80px;

}
